*.bak
*.0
*.gcda
*.gcno
*.la
*.lo
*.o
*.obj
*.orig
*.rej
*.tab.c
*~
.*.sw[nop]
.deps
.dirstamp
.libs
*.out
*.go
*.gresource

GPATH
GRTAGS
GSYMS
GTAGS
ID
TAGS

Makefile
Makefile.in

ar-lib
aclocal.m4
autom4te.cache
config.cache
config.h
config.h
config.h.in
config.log
config.lt
config.status
config.status.lineno
configure
configure.lineno
libtool
stamp-h1
texinfo.tex
INSTALL
ChangeLog

/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/Debug/

# build source
__gi*.c
__gi*.h

# scripts
tools/gdb-guile
tools/gdb-test
tools/guile-gi
tools/lcov.sh
tools/run-guile
tools/run-test
tools/uninstalled-env
tools/uninstalled-test-env

# executables
fo_gen
a.out
*.gir
*.typelib
*.exe
*.dll
*.a

# Archives
*.tar
*.tar.gz

# logs
gir-log.txt
*.trs
*.log
\#*\#
*.gcov
*.gcda
*.gcno

# Crashes
core*
vgcore*
!core-generics.scm

# Temp docs
*.info
tmp
tmp.*
coverage
