---
Language:        Cpp
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Stroustrup
ColumnLimit:     99
IndentPPDirectives: AfterHash
IndentWidth:     4
MaxEmptyLinesToKeep: 1
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: false
Standard:        Cpp11
TabWidth:        4
UseTab:          Never
...
